@charset "utf-8";

@font-face {
    font-family: "OL" ;
    src: url('font/OldLondon.ttf') format("truetype"), url(filxgirl.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1{
font-family:"OL";

}