@charset "utf-8";

@charset "utf-8";

/* Todas as Demais Medias*/

*{
    font-family:  Arial, Helvetica, sans-serif ;
    font-size: 1em;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

html{ 

    
    height: 100vh;

}

body{
    background-color: black;
    background: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
main{
    background-color: rgba(255, 255, 255, 0.454);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 2em;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

main #phone{display: block;}
main #tablet{display: none;}
main #printer{display: none;}
main #pc{ display: none;}
main #tv{display: none;}